h1   {font-family: Tahoma, Arial, Lucida Sans Unicode, Verdana, System, Helvetica, Sans-Serif; font-size: 14pt; font-weight: bold }
h2   {font-family: Tahoma, Arial, Lucida Sans Unicode, Verdana, System, Helvetica, Sans-Serif; font-size: 12pt; font-weight: bold }
h3   {font-family: Tahoma, Arial, Lucida Sans Unicode, Verdana, System, Helvetica, Sans-Serif; font-size: 10pt; font-weight: bold; }
h4   {font-family: Tahoma, Arial, Lucida Sans Unicode, Verdana, System, Helvetica, Sans-Serif; font-size: 10pt; font-weight: normal; font-style: italic }

BODY, P, LI, TD, TH {font-family: Tahoma, Arial, Lucida Sans Unicode, Verdana, System, Helvetica, Sans-Serif;}
BODY, P, LI, TD, TH {font-size: 10pt;}
